<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<form action="{{url_for('register')}}" method="POST">
  <center class="head-container">
    <h2>Create An Account</h2>
  </center>
  <div class="form-container">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" class="label-container" />
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" class="label-container" />
    <label for="username">Username</label>
    <input type="text" name="username" class="label-container" />
    <label for="email">Email</label>
    <input type="email" name="email" class="label-container" />
    <label for="password">Password</label>
    <input type="password" name="password" class="label-container" />
    <br />
    <div>
      <input type="submit" value="Sign Up" class="btn-submit" />
    </div>
    <div class="label-container">
      <small>
        <p>
          Already have an account?, <a href="{{url_for('login')}}">Login</a>
        </p>
      </small>
    </div>
  </div>
</form>

{% endblock content %}
